:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --button-background-color: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Header */
.top {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.logo {
    color: var(--primary-black-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-decor {
    color: var(--accent-color);
}
.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}
.contacts-list {
    display: flex;
    margin-left: auto;
}
.contacts-list .item + .item {
    margin-left: 50px;
}
.mail,
.tel {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus {
    color: var(--accent-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Banner */
.banner {
    background-color: var(--secondary-background-color);
    text-align: center;
}
.banner-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.banner-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    color: var(--secondary-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.banner-button:hover,
.banner-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Features */
.features-list {
    display: flex;
    margin-right: -30px;
}
.features-list .item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}
.features-title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.71;
}

/* Functions */
.functions-list {
    display: flex;
    margin-right: -30px;
}
.functions-list .item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
}
.functions-title {
    margin-bottom: 50px;

    color: var(--secondary-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team */
.team {
    background-color: var(--button-background-color);
}
.team-list {
    display: flex;
    margin-right: -30px;
}
.team-list .item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}
.member {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title {
    margin-bottom: 50px;

    color: var(--secondary-text-color);
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-member {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Footer */
.container.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primary-white-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.bottom {
    background-color: var(--secondary-background-color);
}
.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.contacts .item:not(:last-child) {
    margin-bottom: 9px;
}
.contacts .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.link.address {
    color: var(--primary-white-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* PORTFOLIO */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.filter-list .item:not(:last-child) {
    margin-right: 8px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--secondary-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
.button.first {
    padding: 6px 25px;
}
.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    
}
.work-list .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
}
.work-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.work-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.work-link {
    text-decoration: none;
}
.work-img {
    display: block;
}
.work-title {
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work-text {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1.88;
}